.blog-style_default {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  background: var(--color-white);
  box-shadow: var(--box-shadow-two);
  align-items: center;
  padding: 1.7rem;
  gap: 2rem;
}
.blog-style_default .image-box {
  position: relative;
  min-width: 42%;
  width: 42%;
  overflow: hidden;
}
.blog-style_default .image-box img {
  width: 100%;
  height: 350px;
  display: block;
}
.blog-style_default .image-box .img_link {
  display: block;
}
.blog-style_default .image-box .img_link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(var(--color-set-one-3-rgba), 0.6);
  z-index: 8;
  opacity: 0;
  transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.blog-style_default .content_box {
  position: relative;
}
.blog-style_default .content_box .d-flex {
  gap: 1rem;
  align-items: center;
}
.blog-style_default .content_box .cat_gry {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 15px;
  line-height: normal;
  transition: var(--transition);
  color: var(--color-white);
  text-align: center;
  border: 1px solid var(--color-set-one-2);
  background: var(--color-set-one-2);
  justify-content: center;
  transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  border-radius: 6px;
  margin-bottom: 1.4rem;
}
.blog-style_default .content_box .comments {
  margin-bottom: 0.7rem;
  gap: 1rem;
  font-family: var(--font-family-extra);
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  color: var(--color-set-one-1);
}
.blog-style_default .content_box .comments i {
  margin-right: 6px;
}
.blog-style_default .content_box .comments a {
  font-family: var(--font-family-extra);
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  color: var(--color-set-one-1);
}
.blog-style_default .content_box .date_tm {
  margin-bottom: 0.7rem;
  display: block;
}
.blog-style_default .content_box .date_tm time {
  color: var(--color-set-one-1);
  text-decoration: unset;
}
.blog-style_default .content_box .date_tm time i {
  margin-right: 6px;
}
.blog-style_default .title_32 a {
  text-decoration: underline;
  text-decoration-color: transparent;
  word-break: break-word;
}
.blog-style_default .title_32 a:hover {
  text-decoration-color: var(--color-set-one-1);
}
.blog-style_default .text_btn {
  color: var(--content-color-one);
}
.blog-style_default .text_btn small {
  text-decoration: underline;
  color: var(--content-color-one);
}
.blog-style_default .text_btn:hover {
  color: var(--color-set-one-1);
}
.blog-style_default .text_btn:hover small {
  color: var(--color-set-one-1);
}
.blog-style_default:hover .image-box img {
  transform: scale(1.1);
}
.blog-style_default:hover .image-box .img_link::before {
  opacity: 1;
}
.blog-style_default:hover .cat_gry {
  background: var(--color-set-one-1);
  color: var(--color-white);
  border-color: var(--color-set-one-1);
}

.post.sticky .blog-style_default, .tag-sticky-2 .blog-style_default {
  background: var(--color-set-one-bg-l-1);
  box-shadow: unset;
}

@media (max-width: 768px) {
  .blog-style_default {
    flex-direction: column;
  }
  .blog-style_default .image {
    position: relative;
    margin-bottom: 2rem;
    min-width: 100%;
    width: 100%;
  }
}/*# sourceMappingURL=blog.css.map */