form[id*=give-form] #give-final-total-wrap .give-donation-total-label {
  background-color: var(--color-set-one-bg-l-1);
}

form[id*=give-form] #give-final-total-wrap .give-final-total-amount, form[id*=give-form] #give-final-total-wrap .give-donation-total-label {
  border-color: var(--color-set-one-bor-1);
}

#give-recurring-form .form-row .give-input-field-wrapper.required, #give-recurring-form .form-row input[type=email].required, #give-recurring-form .form-row input[type=password].required, #give-recurring-form .form-row input[type=tel].required, #give-recurring-form .form-row input[type=text].required, #give-recurring-form .form-row input[type=url].required, #give-recurring-form .form-row select.required, #give-recurring-form .form-row textarea.required, form.give-form .form-row .give-input-field-wrapper.required, form.give-form .form-row input[type=email].required, form.give-form .form-row input[type=password].required, form.give-form .form-row input[type=tel].required, form.give-form .form-row input[type=text].required, form.give-form .form-row input[type=url].required, form.give-form .form-row select.required, form.give-form .form-row textarea.required, form[id*=give-form] .form-row .give-input-field-wrapper.required, form[id*=give-form] .form-row input[type=email].required, form[id*=give-form] .form-row input[type=password].required, form[id*=give-form] .form-row input[type=tel].required, form[id*=give-form] .form-row input[type=text].required, form[id*=give-form] .form-row input[type=url].required, form[id*=give-form] .form-row select.required, form[id*=give-form] .form-row textarea.required,
#give-recurring-form .form-row .give-input-field-wrapper, #give-recurring-form .form-row input[type=email], #give-recurring-form .form-row input[type=password], #give-recurring-form .form-row input[type=tel], #give-recurring-form .form-row input[type=text], #give-recurring-form .form-row input[type=url], #give-recurring-form .form-row select, #give-recurring-form .form-row textarea, form.give-form .form-row .give-input-field-wrapper, form.give-form .form-row input[type=email], form.give-form .form-row input[type=password], form.give-form .form-row input[type=tel], form.give-form .form-row input[type=text], form.give-form .form-row input[type=url], form.give-form .form-row select, form.give-form .form-row textarea, form[id*=give-form] .form-row .give-input-field-wrapper, form[id*=give-form] .form-row input[type=email], form[id*=give-form] .form-row input[type=password], form[id*=give-form] .form-row input[type=tel], form[id*=give-form] .form-row input[type=text], form[id*=give-form] .form-row input[type=url], form[id*=give-form] .form-row select, form[id*=give-form] .form-row textarea {
  padding: 6px 20px;
  border-color: var(--color-set-one-bor-1);
  background: var(--background-white);
}

.give-donation-levels-wrap button.give-donation-level-btn {
  color: var(--heading-color-one);
  background: var(--background-white);
  border-radius: 0px;
  border: 2px solid var(--color-set-one-bor-1);
}
.give-donation-levels-wrap button.give-donation-level-btn:hover {
  background: var(--color-set-one-2);
  color: var(--color-white);
  border-color: var(--color-set-one-2);
}

html body .give-donation-amount .give-currency-symbol {
  background: var(--background-white) !important;
  border: 2px solid var(--color-set-one-bor-1) !important;
  border-right: 0px !important;
  height: 46px !important;
  line-height: 46px !important;
}
html body .give-donation-amount input.give-amount-top, html body .give-donation-amount #give-amount-text {
  background: var(--background-white) !important;
  border: 2px solid var(--color-set-one-bor-1) !important;
  height: 46px !important;
  line-height: 46px !important;
}

.give-donation-amount #give-amount, form[id*=give-form] .give-donation-amount {
  height: 46px !important;
  line-height: 46px !important;
}

#give-recurring-form .give-section-break, #give-recurring-form h3.give-section-break, #give-recurring-form h4.give-section-break, #give-recurring-form legend, form.give-form .give-section-break, form.give-form h3.give-section-break, form.give-form h4.give-section-break, form.give-form legend, form[id*=give-form] .give-section-break, form[id*=give-form] h3.give-section-break, form[id*=give-form] h4.give-section-break, form[id*=give-form] legend {
  font-size: 30px;
  line-height: 40px;
  color: var(--heading-color-one);
}

.single-give_forms .give_forms {
  padding: unset;
  margin: unset;
}

body #give-donor-dashboard {
  max-width: unset !important;
}

.give-goal-progress .income, .give-goal-progress .goal-text {
  font-size: 24px;
  line-height: normal;
  font-family: var(--font-family-main);
  font-weight: 600;
  color: var(--color-set-one-1);
  margin: 0px 5px 0px 0px;
}
.give-goal-progress .goal-text {
  color: var(--color-set-one-2);
  margin: 0px 5px 0px 5px;
}
.give-goal-progress .raised {
  color: var(--content-color-one);
}

.give-goal-progress .give-progress-bar {
  background: var(--color-set-one-bg-l-1);
  height: 10px;
  border-radius: 6px;
}

.give-form-grid-progress-bar {
  padding: 10px 0px;
}

.give-wrap .give-card {
  position: relative;
  border-radius: unset !important;
  background-color: unset !important;
  border-color: unset !important;
}
.give-wrap .give-card .give-donor-container__image {
  border-color: var(--color-set-one-bor-1);
}
.give-wrap .give-card .give-donor-container-variation__name {
  font-size: 24px !important;
  line-height: normal;
}
.give-wrap .give-card .give-donor-container-variation__timestamp {
  color: var(--content-color-one);
  font-size: 17px;
  line-height: normal;
  font-family: var(--font-family-text);
}
.give-wrap .give-card .give-donor-details__total {
  font-family: var(--font-family-main);
  color: var(--color-set-one-1) !important;
}
.give-wrap .give-card .give-donor-details__wrapper span:last-child {
  color: var(--heading-color-one) !important;
  font-size: 17px !important;
  font-weight: 700 !important;
}

.form-grid-raised__details > span:first-child {
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  font-family: var(--font-family-main);
  color: var(--heading-color-one);
  margin-bottom: 10px;
  display: block;
}

.form-grid-raised__details > span:last-child {
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  font-family: var(--font-family-main);
  color: var(--color-set-one-1);
}

html body .give-form-grid-content > h3 {
  font-size: 26px !important;
  line-height: normal !important;
  font-weight: 700 !important;
  margin-bottom: 0.8rem !important;
}

.give-form-grid-progress {
  padding: 20px 30px 30px;
}

.give-form-grid-content {
  padding: 30px;
  background-color: unset !important;
}
.give-form-grid-content > p {
  font-size: 17px;
  margin-bottom: 25px !important;
  display: block;
  font-weight: normal;
  font-family: var(--font-family-text);
  color: var(--content-color-one);
}

#give_profile_editor_form legend {
  padding: 0px 0px 20px;
}

.give_error, .give_success, .give_warning {
  background: var(--color-set-one-2) !important;
  border-color: var(--color-set-one-2) !important;
  color: var(--color-white) !important;
  font-size: 26px;
  font-family: var(--font-family-extra);
  font-weight: blod;
  margin: 1rem 0px !important;
  line-height: normal;
  padding: 1rem 1rem 1rem 1.5rem;
}
.give_error a, .give_success a, .give_warning a {
  color: var(--heading-color-one);
  font-size: 24px;
  font-family: var(--font-family-extra);
  line-height: normal;
  font-weight: blod;
}
.give_error:before, .give_success:before, .give_warning:before {
  background-color: var(--color-set-one-1) !important;
}

.post-type-archive-give_forms .page_header_inner .main_tit {
  display: none;
}

[id*=give-form] div.summary {
  position: relative;
  width: unset;
  float: unset;
}
[id*=give-form] div.summary h1.give-form-title {
  font-size: 46px;
  line-height: normal;
  margin-bottom: 1.5rem;
}

.give_single_images {
  margin-bottom: 1.5rem;
}
.give_single_images img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.give-gateway-option-selected input {
  background-color: var(--color-set-one-1) !important;
  border-color: var(--color-set-one-1) !important;
}

.single-give_forms .give-form-title {
  display: none;
}
.single-give_forms .give-form {
  padding: 50px 50px 50px;
  margin: 50px 0 40px 0;
  border: 1px solid var(--color-set-one-bor-1);
}
.single-give_forms .give-goal-progress {
  position: relative;
  padding: 20px;
  border-radius: 1rem;
  background: var(--background-white);
  box-shadow: 0 5px 22px 0px rgba(5, 5, 5, 0.05);
}
.single-give_forms .formyes_image .give-goal-progress {
  width: 94%;
  margin: -4.8rem auto 2rem;
}

html body .widget_block .give-wrap {
  padding: 10px 0 0 0;
}
html body .widget_block .give-grid {
  display: flex !important;
  flex-direction: column !important;
  gap: 2rem;
  margin: 0px !important;
}
html body .widget_block .give-grid .give-grid__item, html body .widget_block .give-grid .give-grid__item > a {
  display: block !important;
}
html body .widget_block .give-grid .give-grid__item .give-card, html body .widget_block .give-grid .give-grid__item > a .give-card {
  box-shadow: unset !important;
}
html body .widget_block .give-grid .give-form-grid {
  flex-direction: column !important;
}
html body .widget_block .give-grid .give-form-grid #row-media {
  max-width: unset;
  min-width: unset;
}
html body .widget_block .give-grid .give-form-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .widget_block .give-grid .give-form-grid .give-form-grid-progress {
  position: relative;
  order: 1;
  background: var(--background-white) !important;
  padding: 36px 10px 10px !important;
  border-radius: 10px;
  box-shadow: 0px 5px 22px 0px rgba(5, 5, 5, 0.05);
}
html body .widget_block .give-grid .give-form-grid .give-form-grid-progress .give-form-grid-progress-bar {
  padding: 0px;
}
html body .widget_block .give-grid .give-form-grid .give-form-grid-progress .form-grid-raised {
  flex-direction: column;
}
html body .widget_block .give-grid .give-form-grid .give-form-grid-progress .form-grid-raised .form-grid-raised__details {
  flex-direction: row;
  gap: 0.4rem;
}
html body .widget_block .give-grid .give-form-grid .give-form-grid-progress .form-grid-raised .form-grid-raised__details:first-child {
  position: absolute;
  top: 14px;
  left: 0;
  min-width: 100%;
  justify-content: center;
  padding: 0px 10px;
}
html body .widget_block .give-grid .give-form-grid .give-form-grid-progress .form-grid-raised .form-grid-raised__details:last-child {
  justify-content: center;
}
html body .widget_block .give-grid .give-form-grid .give-form-grid-content {
  padding: 1.5rem 0 0px !important;
  order: 2;
}
html body .widget_block .give-grid .give-form-grid .give-form-grid-content .give-form-grid-content__title {
  font-size: 22px !important;
  line-height: normal !important;
}

.give-modal-open .sticky_header_area {
  display: none;
}

.give-goal-progress .give-progress-bar {
  height: 7px !important;
}

.give-responsive-mfp-content ol, .give-responsive-mfp-content ul {
  padding-left: 20px !important;
}/*# sourceMappingURL=give-form.css.map */